﻿body, .page, #left {
    background-image: none !important;
}

h2 {
    margin-top: 0 !important;
}

.tabContent {
    display: inline !important;
}

input, textarea {
    padding-top: 1px;
    border: none !important;
}

textarea {
    width: 92% !important;
    margin-left: -25px;

    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}

textarea::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}

#header, #tabnav, .page-title-help, .tcalIcon, .tcalIcon-delete, .iconLeft {
    display: none !important;
}

#tabsContainer {
    border: none !important;
}

.tabHeader {
    font-size: 15px;
    font-weight: bold;
    padding: 20px 0 10px;
    display: block;
}
