﻿body, .page, #left {
    background-image: none !important;
}

#header, .page-title-help, .iconRight, h2, .dottedLine {
    display: none !important;
}

.message-display-label, .message-display-field {
    color: black !important;
    font-size: 13px !important;
}

#Message_Text, .messageText {
    display: none;
}

#Message_Text_Hidden {
    color: black;
    margin-top: 3px;
    font-size: 13px;
    display: block !important;
}

.messageContainer {
    font-family: Verdana, Helvetica, Sans-Serif !important;
    font-size: 13px !important;
}

input, textarea {
    padding-top: 1px;
    border: none !important;
    background: none !important;
    font-family: Verdana, Helvetica, Sans-Serif !important;

    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}

textarea::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}

.editor-field {
    width: 760px !important;
}

#Message_Code, #Message_Subject  {
    width: 100% !important;
}