<title></title>
<TABLE BORDER=1 WIDTH=352>

<TR><TD WIDTH=44><TD WIDTH=242><TD WIDTH=66></TR>
<TR>
    <TD ALIGN=right></TD>
    <TD>Name</TD>
    <TD>Type</TD>
</TR>
<TR>
    <TD ALIGN=right>4</TD>
    <TD>IPSBX001</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>4</TD>
    <TD>IPSBX002</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>4</TD>
    <TD>IPSMR700</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>2</TD>
    <TD>IPSQNCRX</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>1</TD>
    <TD>ipsqncra</TD>
    <TD>Queue</TD>
</TR>
<TR>
    <TD ALIGN=right>1</TD>
    <TD>jeffprinter</TD>
    <TD>Queue</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>125RM801</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>Dell Laser Printer 1720dn</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>HP Color LaserJet 5500 PCL 6 (Copy 1)</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>HP Color LaserJet CM3530 MFP PCL 6</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPQNCRX</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKN01</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKN02</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKN03</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKN04</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKN05</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKN08</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKNB0</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKRS0</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKRS1</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKRS2</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKRS3</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKRS4</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKRS5</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKRS6</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKS06</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKS07</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKS09</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKS10</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKS11</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKS12</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKS13</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKS14</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKS15</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKS16</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKS17</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKS18</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKS19</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKS20</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKS21</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKSA2</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKSB0</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBKSBO</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBX003</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBX004</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBX005</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBX006</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBX007</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBX008</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBX009</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBX010</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBX011</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBX012</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBX013</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBX014</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBX015</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBX06A</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSBX0B0</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSM8231</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMCLN5</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMN001</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMN002</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMN003</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMN004</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMN005</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMN006</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMN007</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMN008</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMN009</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMN010</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMN011</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMN012</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMN01D</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMN021</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMN03A</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMN08A</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMN0B0</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMN0EC</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMN0LC</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMN823</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMNBS0</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMNBS1</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMNBS2</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMNBS3</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMNBS4</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMNBS5</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMNDV0</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMNET1</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMNET2</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMNHR0</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMNIT0</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMR716</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMR717</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMR729</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMR801</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMR817</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSMR821</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQE11A</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQE11B</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQE13A</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQELC0</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQN0AU</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCR0</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCR1</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCR2</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCR3</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCR4</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCR5</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCR6</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCR7</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCR8</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCR9</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRA_Test</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRB</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRC</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRD</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRE</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRF</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRG</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRH</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRI</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRJ</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRK</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRL</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRM</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRN</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRO</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRP</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRQ</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRR</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRS</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRT</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRU</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRV</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNCRW</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNE07</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNE08</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNE10</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNE12</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNE13</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNE14</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNE7A</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNEB0</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNW01</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNW02</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNW03</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNW04</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNW05</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNW06</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNW09</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQNWB0</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSQWEN0</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSSI001</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSSI002</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSSI003</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSSI0B0</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSSI0LC</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSSI0LD</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSSIRS0</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSSIRS1</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSSIRS2</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSSIRS3</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSSIRS4</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSSIRS5</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>IPSSIRS6</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>jeffprinter</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>Microsoft XPS Document Writer</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>Microsoft XPS Document Writer (from 137FL2NOVAS-AKH) in session 1</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>test2</TD>
    <TD>Printer</TD>
</TR>
<TR>
    <TD ALIGN=right>0</TD>
    <TD>testqueue</TD>
    <TD>Printer</TD>
</TR>
</TABLE>
