﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body style="line-height:30px;">
    <div>
        <h2>Repaired Equipments Return List: <span style="float:right;margin-right:30px;">{{date}}</span></h2>        
    </div>
    <br />
    <div style="width:100%">
        <div style="width:5%;display:inline;float:left">
            Item:
        </div>
        <div style="width:10%;display:inline;float:left">
            I.D/Serial No:
        </div>
        <div style="width:85%;display:inline;float:left">
            Location/Remark:
        </div>
    </div>
    <hr style="height:2px" />
    {{foreachText}}
    <br />
    <div style="width:100%">
        <div style="width:5%;display:inline">
            Misc :
        </div>
        <div style="width:95%;min-width:90%;border-bottom:1px solid gray;display:inline-block">
        </div>
    </div>
    <br />
    <div style="width:100%">
        <div style="width:5%;display:inline-block">
        </div>
        <div style="width:95%;float:right;min-width:90%;border-bottom:1px solid gray;display:inline-block">
        </div>
    </div>
    <div style="width:100%">
        <div style="width:10%;display:inline">
            Picked Up By :
        </div>
        <div style="width:75%;min-width:75%;border-bottom:1px solid gray;display:inline-block">
        </div>
        <div style="width:5%;display:inline">
            Date :
        </div>
        <div style="width:10%;min-width:10%;border-bottom:1px solid gray;display:inline-block">
        </div>
    </div>
    <br />
    <div style="width:100%">
        <div style="width:10%;display:inline">
            Badge No:
        </div>
        <div style="width:30%;min-width:30%;border-bottom:1px solid gray;display:inline-block">
        </div>
        <div style="width:10%;display:inline">
            Assigned Location :
        </div>
        <div style="width:30%;min-width:30%;border-bottom:1px solid gray;display:inline-block">
        </div>
        <div style="width:10%;display:inline">
            Appointment Date:
        </div>
        <div style="width:5%;min-width:5%;border-bottom:1px solid gray;display:inline-block">
        </div>
    </div>
</body>
</html>
