﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body style="line-height:30px;">
    <div>
        <h2>Defective Radio Equipment List:  <span style="float:right;margin-right:30px;">{{date}}</span></h2>
       
    </div>
    <br />
    <div style="width:100%">
        <div style="width:5%;display:inline;float:left">
            Item:
        </div>
        <div style="width:15%;display:inline;float:left">
            I.D/Serial No:
        </div>
        <div style="width:80%;display:inline;float:left">
            Location/Remark:
        </div>
    </div>
    <hr style="height:2px" />
    <table style="width:100%">
        <tbody>
            {{foreachText}}
        </tbody>
    </table>
    <br />
    <div style="width:100%">
        <div style="width:5%;display:inline-block;">
        </div>
        <div style="width:20%;display:inline-block;">
            Total Number of Portable :
        </div>
        <div style="width:30%;min-width:30%;display:inline-block">
        </div>
        <div style="width:25%;display:inline;text-align:left">
            Total Number of Mobile :
        </div>
        <div style="width:25%;min-width:30%;display:inline-block">
        </div>
    </div>
    <div style="width:100%">
        <div style="width:5%;display:inline-block;">
        </div>
        <div style="width:20%;display:inline-block;">
            Total Number of Multi Charger :
        </div>
        <div style="width:30%;min-width:30%;display:inline-block">
        </div>
        <div style="width:20%;display:inline;text-align:left">
            Total Number of Single Charger :
        </div>
        <div style="width:25%;min-width:30%;display:inline-block">
        </div>
    </div>


</body>
</html>
