﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    Create Inventory Request
</asp:Content>

<asp:Content ID="JavascriptIncludes" ContentPlaceHolderID="JavascriptIncludes" runat="server">
    <script src="<%=ResolveUrl("~/Scripts/jquery-3.3.1.min.js")%>" type="text/javascript"></script>
    <script src="<%=ResolveUrl("~/Scripts/jquery.validate-1.17.0.js")%>" type="text/javascript"></script>
    <script src="<%=ResolveUrl("~/Scripts/knockout-3.4.2.js")%>" type="text/javascript"></script>
    <script src="<%=ResolveUrl("~/Scripts/knockout.mapping-latest.js")%>" type="text/javascript"></script>
    <script src="<%=ResolveUrl("~/Scripts/DSNYFunctions.js")%>" type="text/javascript"></script>
    <script src="<%=ResolveUrl("~/Scripts/bindinghandlers.js")%>" type="text/javascript"></script>
    <script src="<%=ResolveUrl("~/Scripts/jqValidate-bindinghandlers.js")%>" type="text/javascript"></script>
    <script src="<%=ResolveUrl("~/Scripts/lodash.3.9.3.min.js")%>" type="text/javascript"></script>
    <script src="<%=ResolveUrl("~/Scripts/calendar_us.js")%>" type="text/javascript"></script>
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="CssIncludes" runat="server">
	<link href="<%=ResolveUrl("~/Content/jquery-ui.css")%>" rel="stylesheet" type="text/css" />
    <link href="<%=ResolveUrl("~/Content/calendar.css")%>" rel="stylesheet" type="text/css" />
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <div id="contentContainer" class="container-fluid">
        <form action="#" id="inventoryRequestForm" data-bind="jqValidationForm: validationContext">
            <!-- HEADER -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Create Inventory Request</h2>
                    <p class="fullDottedLine"></p>
                </div>
            </div>

            <!-- ICONS -->
            <div class="row">
                <div class="col-md-12">
                    <a href="" class="iconLink iconLeft" onclick="history.go(-1); return false;">
                        <img border="0" src="~/Content/Images/Icons/Cancel.png" alt="Cancel" runat="server" /><br />Cancel
                    </a>

                    <a href="" id="submitButton" class="iconLink iconLeft ui-state-disabled" data-bind="click: save" disabled="disabled">
                        <img border="0" src="~/Content/Images/Icons/clipboard_check.png" alt="Save" runat="server" /><br />Save & Send
                    </a>

                    <div id="sending" style="display: none; padding-top: 15px;">Sending</div>
                </div>
            </div>

            <!-- INVENTORY REQUEST -->
            <div class="row padded-top">
                <div class="col-md-12">
                    Set Inventory Date:
                    <input type="text" class="tcalReadOnly" readonly="true" size="10" style="width: 70px;" 
                        data-bind="value: inventoryDate, tcal: { name: 'inventoryDate' }, jqValidationElement: true" />
                </div>
            </div>
            <div class="row padded-top">
                <div class="col-md-12">
                    Additional Request To Field:<br />
                    <textarea data-bind="value: additionalRequests" style="height: 200px; width: 350px;"></textarea>
                </div>
            </div>
        </form>
    </div>
</asp:Content>

<asp:Content ID="Content7" ContentPlaceHolderID="FooterContent" runat="server">
    <div id="noFloat" style="width: 550px;">&nbsp;</div>
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="JavascriptSource" runat="server">
    <script type="text/javascript">
        var ViewModel = function () {
            var self = this;

            this.toggle = function (id) { A_TCALS[id].f_toggle(); }
            this.clear = function (id) { A_TCALS[id].f_clear(); }

            this.formValidationChecks = {
                checkCreateInventoryRequestFormSubmitEnable: function () {
                    if ($("#inventoryRequestForm").valid()) {
                        $("#submitButton").removeAttr("disabled").removeClass("ui-state-disabled");
                    } else {
                        $("#submitButton").attr("disabled", true).addClass("ui-state-disabled");
                    }
                },
            };

            this.validationContext = {
                submitEnable: self.formValidationChecks.checkCreateInventoryRequestFormSubmitEnable
            };

            // data holders
            this.inventoryDate = ko.observable();
            this.additionalRequests = ko.observable();

            this.inventoryDate.subscribe(function (date) {
                $('#inventoryDate').valid();
                self.validationContext.submitEnable();
            });

            this.save = function () {
                if ($("#inventoryRequestForm").valid()) {
                    $("#submitButton").attr("disabled", true).addClass("ui-state-disabled");

                    var data = {
                        additionalRequest: self.additionalRequests(),
                        inventoryDate: self.inventoryDate()
                    };

                    $('#sending').show();
                    animateText('sending', '.', 3, 750);

                    $.post({
                        url: '/ManageInventory/SaveInventoryRequest',
                        type: 'post',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        data: JSON.stringify(data),
                        success: function (data) {
                            window.location.href = "/GarageSupplies";
                        },
                        error: function (err) {
                            $("#submitButton").removeAttr("disabled").removeClass("ui-state-disabled");
                            console.log(JSON.stringify(err));
                        }
                    });
                }
            }
        }

        $(function () {
            ko.applyBindings(new ViewModel(), $('#contentContainer')[0]);
        });
    </script>
</asp:Content>